POSTGRES_USER=nexo
POSTGRES_PASSWORD=password
POSTGRES_DB=banco_db
DB_HOST=localhost
DB_PORT=5435
APP_PORT=3001

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=public"
